<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Home</h1>
    <a href="/searchpage">Search</a><br />
    <a href="/show">My Jobs</a>

    <div class="jobs">
      <% jobsdata.forEach(element => { %>

      <p>Title : <%=element.title %></p>
      <p>Company : <%=element.company %></p>
      <p>Location : <%=element.location %></p>
      <p>Url : <%=element.url %></p>

      <% }) %>
    </div>
  </body>
</html>
